body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0 auto;
}

#content {
	margin-top: 5%;
}

#content h1, #intro, #game, #dice, #result {
	margin: 0 auto;
	margin-top: 2%;
	width: 50%;
	text-align: center;
}

.hidden {
	display: none;
}

.die {
	float: left;
	margin: 2.5%;
	height: 50px;
	width: 50px;
	font-size: 3em;
}

.die:hover {
	background-color: lightgreen;
}


#buttons {
	clear: left;
}

#buttons button {
	margin: 0.25%;
	height: 25px;
	width: 50px;
}

.pinned {
	background-color: lightgrey;
}

.fixed {
	background-color: darkgrey;
}

#result {
	height: 50px;
	width: 100px;
}

.win {
	background-color: green;
}

.lose {
	background-color: red;
}

.tie {
	background-color: yellow;
}

.overlay {
	z-index: 100;
	position: fixed;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	color: red;
	background-color: lightgrey;
}

.overlay p {
	margin-top: 25%;
}