body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
	display: none;
}

.die {
	float: left;
	margin: 0.5%;
	height: 50px;
	width: 50px;
}

#buttons button {
	margin: 0.25%;
	height: 25px;
	width: 50px;
}

#buttons {
	clear: left;
}